.lanyard-animation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.lanyard-animation canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}


