.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  padding: 15px;
}

.border-animation {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  border-radius: 50%;
  animation: border-follow linear infinite;
  z-index: 2;
  top: 5px;
  left: 5px;
}

.inner-content {
  position: relative;
  border: 1px solid #222;
  background: #000;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px 26px;
  border-radius: 20px;
  z-index: 1;
}

@keyframes border-follow {
  0% {
    top: 5px;
    left: 5px;
    opacity: 1;
  }
  25% {
    top: 5px;
    left: calc(100% - 25px);
    opacity: 1;
  }
  50% {
    top: calc(100% - 25px);
    left: calc(100% - 25px);
    opacity: 1;
  }
  75% {
    top: calc(100% - 25px);
    left: 5px;
    opacity: 1;
  }
  100% {
    top: 5px;
    left: 5px;
    opacity: 1;
  }
} 